<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css"/>
</head>

<body>

<ul class="topnav">
  <li><a href="#home">CAKES</a></li>
  <li><a href="#news">COOKIES</a></li>
  <li><a href="#contact">MUFFINS</a></li>
  <li class="right"><a href="#about">FRIENDLY'S BAKERY HOME</a></li>
</ul>

<p> 

<p id="rcorners2">
<a href="https://www.google.com"><img src="https://www.handletheheat.com/wp-content/uploads/2018/02/BAKERY-STYLE-CHOCOLATE-CHIP-COOKIES-9-768x768.jpg" alt="Cookies">
<img src="https://sallysbakingaddiction.com/wp-content/uploads/2013/04/triple-chocolate-cake-4.jpg" alt="Cakes">
<img src="http://images.midwestliving.mdpcdn.com/sites/midwestliving.com/files/styles/slide/public/R138343_14.jpg?itok=r0H7tngJ" alt="Muffins">
</p>

<div class="footer">

<div>
  <form method="post" action="/contact">
    <label for="name">ENTER YOUR E-MAIL BELOW FOR THE WEEKLY FLAVOR AND COMPLIMENTARY TASTY TREATS!</label>
    <input type="text" id="name" name="name" placeholder="your e-mail address">
    <input type="submit" value="SUBMIT">
  </form>
  </div>

  <p>© FRIENDLY'S BAKERY 2018</p>
</div>


</body>
<html>