<div class="wrapper">
<div id="slide" class="flex-container">

  <div>
  <p><a href="/cakes"><img src="https://sallysbakingaddiction.com/wp-content/uploads/2013/04/triple-chocolate-cake-4.jpg" alt="Cakes" style="width:150px;height:150px;"></p></a>
  <h1>CAKES</h1>
  </div>

  <div>
  <p><a href="/cookies"><img src="https://www.handletheheat.com/wp-content/uploads/2018/02/BAKERY-STYLE-CHOCOLATE-CHIP-COOKIES-9-768x768.jpg" alt="COOKIES" style="width:150px;height:150px;"></p></a>
  <h1>COOKIES</h1>
  </div>
  
  <div>
  <p><a href="/muffins"><img src="http://images.midwestliving.mdpcdn.com/sites/midwestliving.com/files/styles/slide/public/R138343_14.jpg?itok=r0H7tngJ" alt="Muffins" style="width:150px;height:150px;"></p></a>
  <h1>MUFFINS</h1>
  </div>  

</div>
</div>