<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css"/>
</head>

<body>

<ul class="topnav">
  <li><a href="cakes">CAKES</a></li>
  <li><a href="cookies">COOKIES</a></li>
  <li><a href="muffins">MUFFINS</a></li>
  <li class="right"><a href="index">FRIENDLY'S BAKERY HOME</a></li>
</ul>

<p> 

<div class="footer">
<div>
  <form method="post" action="/contact">
    <label for="name">ENTER YOUR E-MAIL BELOW FOR THE WEEKLY FLAVOR AND COMPLIMENTARY TASTY TREATS!</label>
    <input type="text" id="name" name="name" placeholder="your e-mail address">
    <input type="submit" value="SUBMIT">
  </form>
  </div>
</div>

<main>
<%= yield %>
</main>


</body>
<html>