<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="icon-bar">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
<body>

<ul class="topnav">
  <li><a href="cakes">CAKES</a></li>
  <li><a href="cookies">COOKIES</a></li>
  <li><a href="muffins">MUFFINS</a></li>
  <li class="right"><a href="index">FRIENDLYS BAKERY HOME</a></li>
</ul>

<p> 

<div class="footer">
<div>
  <form method="post" action="/contact">
    <label for="name">ENTER YOUR E-MAIL BELOW FOR THE WEEKLY FLAVOR AND COMPLIMENTARY TASTY TREATS!</label>
    <input type="text" id="name" name="name" placeholder="your e-mail address">
    <input type="submit" value="SUBMIT">
  </form>
  </div>
</div>

<main>
<%= yield %>
</main>

</body>
</html>