<% @allmuffins.each do |element| %>
  <div class="flex-container">
    <div>
    <p><img src="<%= element.photo%>"></p>
    <p><%= element.name %></p>
    <p><%= element.description %></p>
    <p><%= element.price %></p>
    </div>
  </div>
<%  end %>
